input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.controlPanel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	height: 100%;
	padding: 20px;
	position: relative;
	color: wheat;
}

.controlPanel__burger {
	position: absolute;
	left: 100%;
}
.arrow {
	width: 50px;
	height: 50px;
	transform: scaleX(-1);
	transition: all 0.3s ease;
	/* background: white; */

	/* height: 50px; */
}

.controlPanel__container {
	/* position: relative; */
	position: fixed;
	background: #333;
	top: 0;
	left: -400px;
	max-width: 400px;
	width: 400px;
	height: 100%;
	transition: all 0.3s ease;
}
.controlPanel__container.show {
	left: 0;
}
.controlPanel__container.show .controlPanel__burger .arrow {
	transform: scaleX(1);
}

.controlPanel input[type="number"] {
	width: 30px;
	height: 30px;
	text-align: center;
}
.controlPanel__field {
	display: flex;
	flex-direction: column;
}

.controlPanel__row {
	display: flex;
	flex-direction: row;
}

.mapSizeController {
	display: flex;
	justify-content: space-between;
}
.mapSizeController__field {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 40%;
}
.mapSizeController__field input {
	display: block;
	max-width: 100%;
}
.mapSizeController__field input[type="number"] {
	width: 30px;
	height: 30px;
	text-align: center;
}

.controlPanel__burger {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50px;
	cursor: pointer;
}
